<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename = 'style_login.css')}}" />
    </head>

    <body>
        <form action="/login/", method="POST">
            <div class="container">
                <p>Please fill out the form to log in.</p>
                <hr>
                <label><b>Username</b></label>
                <br>
                <input type="text" placeholder="Enter Email" name="email">
                <br>
                <label><b>Password</b></label>
                <br>
                <input type="password" placeholder="Enter Password" name = "password">
                <hr>
              <button onclick="location.href = '/<int:id>/'">Login</button>
            </div>
        </form>
    </body>
</html>
