<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename = 'style_index.css')}}" />
    </head>
    <body>
      <form class="" action="/{{user.id}}/my_ads/" method="GET">
      <button type="button" name="button" onclick="location.href = '/{{user.id}}/'">Return to main page</button>
        {%for ad in ads %}
        {%if ad.is_active == 0 and ad.user_id == user.id %}
        <div class="info">
          <br>
          <b>Име на продукт:</b>
          <p>{{ad.name_ad}}</p>
          <br>
          <b>Информация:</b>
          <p>{{ad.info_ad}}</p>
          <br>
          <b>Цена:</b>
          <p>{{ad.price}} leva</p>
          <br>
          <p>{{ad.date}}</p>
          <br>
          {%if ad.is_active==0%}
          <p>Неактивна</p>
          {%endif%}
          <b>Име на купувача</b>
          <p>{{ad.buyer}}</p>
          <b>Телефонен номер за връзка с куповача</b>
        </div>
        {% endif %}
        {%endfor%}
    </form>
    </body>
</html>
